@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* GENERAL */
.contenedor {
  margin: 0px 10%;
}

/* Portada */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: url("../media/portada/tef-salto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: slide 25s infinite linear alternate;
          animation: slide 25s infinite linear alternate;
}

@-webkit-keyframes slide {
  0% {
    background-image: url("../media/portada/leo-ceci-portada.jpg");
  }
  25% {
    background-image: url("../media/portada/luis-leo-salto.jpg");
  }
  50% {
    background-image: url("../media/portada/luis-lu-silla.jpg");
  }
  75% {
    background-image: url("../media/portada/luis-silla.jpg");
  }
  100% {
    background-image: url("../media/portada/tef-salto.jpg");
  }
}

@keyframes slide {
  0% {
    background-image: url("../media/portada/leo-ceci-portada.jpg");
  }
  25% {
    background-image: url("../media/portada/luis-leo-salto.jpg");
  }
  50% {
    background-image: url("../media/portada/luis-lu-silla.jpg");
  }
  75% {
    background-image: url("../media/portada/luis-silla.jpg");
  }
  100% {
    background-image: url("../media/portada/tef-salto.jpg");
  }
}

header a {
  margin-top: 40px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #181818;
  background-color: transparent;
  padding: 14px 10px;
  border: 2px solid #181818;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header a:hover {
  border: 2px solid transparent;
  color: #d5d5d5;
  background-color: #181818;
  text-decoration: none;
}

header .mobile {
  display: none;
}

/* NAV */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 15px 0px;
  background-color: #181818;
  z-index: 100;
  border-bottom: 2px solid #d5d5d5;
}

nav a img {
  width: 90px;
}

nav .menuNav li {
  display: inline-block;
}

nav .menuNav li a {
  position: relative;
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.8rem;
  margin-left: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .menuNav li a::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#181818), to(#d5d5d5));
  background-image: linear-gradient(to right, #181818, #d5d5d5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .menuNav li a:hover::after {
  width: 100%;
}

#hamb {
  display: none;
}

/* HOME */
#home {
  background-image: url("../media/fondoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 94vh;
  padding: 100px 0px 80px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d5d5d5;
}

#home .homeInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .homeInfo .contenedorCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#home .homeInfo .introHome h2 {
  color: #181818;
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 1px 1.5px 7px #7c7c7c;
}

#home .homeInfo .introHome h3 {
  color: #181818;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 1px 1.5px 7px #7c7c7c;
}

#home .homeInfo .introHome h4 {
  color: #181818;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 55px;
  text-shadow: 1px 1.5px 7px #7c7c7c;
}

#home a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #181818;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #181818;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#home a:hover {
  color: #d5d5d5;
  background-color: #181818;
  border: 2px solid transparent;
}

#gallery {
  position: relative;
  min-height: 100vh;
  background-image: url("../media/elenco/fondo-juntos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gallery a {
  text-decoration: none;
  color: #d5d5d5;
  line-height: 1.5;
  font-size: 4.6rem;
  font-weight: 600;
  color: #d5d5d5;
  text-shadow: 1px 1.5px 10px #7c7c7c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 14px;
  -webkit-animation: titila 1.2s infinite alternate;
          animation: titila 1.2s infinite alternate;
}

#gallery a:hover {
  text-shadow: 1px 2px 20px #7c7c7c;
}

@-webkit-keyframes titila {
  0% {
    text-shadow: 1px 1.5px 10px #7c7c7c;
  }
  100% {
    text-shadow: 1px 2px 20px #7c7c7c;
  }
}

@keyframes titila {
  0% {
    text-shadow: 1px 1.5px 10px #7c7c7c;
  }
  100% {
    text-shadow: 1px 2px 20px #7c7c7c;
  }
}

.grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'fotoDoce fotoDoce fotoDiez' 'fotoUno fotoDos fotoTres' 'fotoUno fotoOnce fotoSeis' 'fotoNueve fotoOcho fotoOcho' 'fotoCuatro fotoCuatro fotoCinco';
  gap: 0.2rem;
}

.grilla .fotoUno {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: fotoUno;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoUno:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoDos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoDos;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoDos:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoTres {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fotoTres;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoTres:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoCuatro {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fotoCuatro;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoCuatro:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoCinco {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: fotoCinco;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoCinco:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoSeis {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: fotoSeis;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoSeis:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoSiete {
  grid-area: fotoSiete;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoSiete:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoOcho {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: fotoOcho;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoOcho:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoNueve {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fotoNueve;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoNueve:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoDiez {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoDiez;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoDiez:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoOnce {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fotoOnce;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoOnce:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.grilla .fotoDoce {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fotoDoce;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grilla .fotoDoce:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

#contact {
  min-height: 100vh;
  background-color: #181818;
  padding-top: 20px 0px 20px 0px;
}

#contact h2 {
  color: #d5d5d5;
  text-align: center;
  font-size: 4rem;
  padding: 100px 0px 20px 0px;
}

#contact #formulario .grupoInput .inputForm {
  color: #d5d5d5;
  margin: 50px 0px;
  font-size: 1.5rem;
  padding: 10px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d5d5d5;
  width: 100%;
}

#contact #formulario .grupoInput .inputForm:focus {
  border-bottom: 2px solid #d5d5d5;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact #formulario .grupoInput .mensaje {
  margin-top: 15px;
  font-size: 1.5rem;
  padding: 10px 14px;
  color: #181818;
  resize: none;
  background-color: #d5d5d5;
  border: none;
  border-bottom: 2px solid #d5d5d5;
}

#contact #formulario .grupoInput .mensaje:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact #formulario .enviar {
  font-size: 1.7rem;
  text-decoration: none;
  color: #d5d5d5;
  background-color: transparent;
  border: 2px solid #d5d5d5;
  padding: 7px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

#contact #formulario .enviar:hover {
  color: #181818;
  background-color: #d5d5d5;
  border: 2px solid transparent;
}

footer {
  background-color: #d5d5d5;
  padding: 20px 0px;
}

footer .contenedorFooter {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contenedorFooter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contenedorFooter div a {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contenedorFooter div a img {
  width: 30px;
  margin: 0px 15px;
}

footer .contenedorFooter h3 {
  color: #181818;
  font-weight: 400;
}

footer .contenedorFooter h6 {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 512px) {
  .contenedor {
    margin: 0px 5%;
  }
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000d9), to(#181818)), url("../media/huella-20.svg") !important;
    background-image: linear-gradient(to bottom, #000000d9, #181818), url("../media/huella-20.svg") !important;
  }
  header .mobile {
    display: block;
    width: 300px;
  }
  header .desktop {
    display: none;
  }
  header a {
    background-color: transparent;
    border: 2px solid #d5d5d5;
    color: #d5d5d5;
    margin-top: 50px;
  }
  /* MENU */
  nav .menuNav {
    position: absolute;
    top: 100%;
    left: -110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #181818;
    width: 100%;
    height: 90vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-bottom: 100px;
  }
  nav .menuNav li {
    margin: 30px 0px;
  }
  nav .menuNav li a {
    margin-left: 0px;
    color: #d5d5d5;
    font-size: 3rem;
    font-weight: 600;
  }
  .menuNav.active {
    position: absolute;
    top: 100%;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #181818;
    width: 100%;
    height: 90vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-bottom: 100px;
  }
  #hamb {
    display: block;
    width: 50px;
    color: #d5d5d5;
    padding: 7px;
  }
  /* HOME */
  #home {
    padding-top: 70px;
  }
  #home .homeInfo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #home p {
    text-align: left;
  }
  #home .waveDown {
    height: 30px;
    width: 100%;
  }
  #home .homeInfo .contenedorCarousel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  #home .homeInfo .introHome h2,
  #home .homeInfo .introHome h3,
  #home .homeInfo .introHome h4 {
    text-align: center;
  }
  #home a {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  /* GALLERY */
  #gallery {
    background-image: url("../media/elenco/fondo-about.png");
    background-position: 52%;
  }
  /* CONTACT */
  #formulario {
    padding: 0px 20px 50px 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */