@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #181818;
}

/* GENERAL */
.contenedor {
  margin: 0px 10%;
}

/* Portada */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url("../media/portada/portadaSitio-figma.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* animation: slide 15s infinite linear alternate; */
}
header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
header div .mobile {
  width: 312px;
  margin-top: 45px;
  margin-left: 40px;
}

header a {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #d5d5d5;
  background-color: transparent;
  padding: 14px 10px;
  border: 2px solid #d5d5d5;
  transition: all 0.3s ease-in-out;
}
header a:hover {
  /* border: 2px solid transparent;
  color: $negro;
  background-color: $grisTres; */
  color: #d5d5d5;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0px 0px 20px 1px #d5d5d5;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0px;
  padding: 15px 0px;
  background-color: #181818;
  z-index: 100;
  border-bottom: 2px solid #d5d5d5;
}
nav a img {
  width: 90px;
}
nav .menuNav {
  display: flex;
  align-items: center;
}
nav .menuNav .banderas {
  margin-left: 20px;
}
nav .menuNav .banderas img {
  width: 50px;
}
nav .menuNav li {
  display: inline-block;
}
nav .menuNav li a {
  position: relative;
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.8rem;
  margin-left: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
}
nav .menuNav li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-image: linear-gradient(to right, #181818, #d5d5d5);
  transition: all 0.3s ease-in-out;
}
nav .menuNav li a:hover::after {
  width: 100%;
}
nav .menuNav li .pagActive {
  font-weight: 700;
}

#hamb {
  display: none;
}

/* HOME */
#home {
  background-image: url("../media/portada/portada-nueva.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  padding: 100px 0px 80px 0px;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  background-color: #d5d5d5;
}
#home .homeInfo {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin: 150px 0px 0px 15px; */
  /* .logo-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
          display: inline-block;
          width: 180px;
          text-align: center;
      }
      .mobile {
          width: 300px;
      }
  } */
}
#home .homeInfo .introHome {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#home .homeInfo .introHome h2 {
  color: #d5d5d5;
  font-size: 4.7rem;
  font-weight: 500;
  text-shadow: 1px 1.5px 7px #7c7c7c;
  text-transform: lowercase;
}
#home .homeInfo .introHome h3 {
  color: #d5d5d5;
  font-size: 3.4rem;
  font-weight: 300;
  text-shadow: 1px 1.5px 7px #7c7c7c;
}
#home a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #d5d5d5;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 50px;
  border: 2px solid #d5d5d5;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
#home a:hover {
  color: #181818;
  background-color: #d5d5d5;
  border: 2px solid transparent;
}

#services {
  background-color: black;
  padding: 70px 0px 70px 0px;
  min-height: 50vh;
}
#services .services-title {
  color: #d5d5d5;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 1px 1.5px 10px #7c7c7c;
  text-align: center;
  border-bottom: none;
  margin-bottom: 30px;
}
#services .container-icons {
  border: 2px solid #d5d5d5;
  border: none;
  margin: 30px 0px 10px 0px;
  padding: 10px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}
#services i {
  color: #d5d5d5;
  font-size: 2.8rem;
  margin-top: 8px;
}
#services span {
  color: #d5d5d5;
  font-size: 4rem;
  margin-bottom: 10px;
}
#services h2 {
  color: #d5d5d5;
  font-size: 2.5rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #d5d5d5;
}
#services p {
  margin-top: 10px;
  font-size: 1.7rem;
  color: #d5d5d5;
}
#services .italic {
  font-style: italic;
  font-size: 1.5rem;
}

#arg-gauchos {
  background-image: url("../media/gauchos-9.png");
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#arg-gauchos h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 600;
  text-shadow: 1px 1.5px 7px #7c7c7c;
  color: #d5d5d5;
  text-align: end;
}
#arg-gauchos p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 25px;
  color: #d5d5d5;
  text-align: end;
  padding-left: 60px;
}

#testimonials {
  background-color: #181818;
  min-height: 80vh;
  padding: 80px 0px 20px 0px;
  margin: 30px 0px;
}
#testimonials .testimonials-title {
  color: #d5d5d5;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 1px 1.5px 10px #7c7c7c;
  text-align: center;
  border-bottom: none;
  margin-bottom: 30px;
}
#testimonials .testimonials-text {
  margin: 70px 0px 30px 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 2px solid #d5d5d5;
}
#testimonials .testimonials-text p {
  color: #d5d5d5;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}
#testimonials .testimonials-text h5 {
  color: #d5d5d5;
  font-weight: 300;
}
#testimonials .testimonials-text h6 {
  color: #d5d5d5;
  font-weight: 300;
}

#gallery {
  min-height: 70vh;
  background-color: #181818;
  padding: 50px 0px;
  /* background-image: url('../media/huella-20.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 107%; */
}
#gallery .textoVideo {
  color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}
#gallery .textoVideo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #d5d5d5;
  background-color: transparent;
  border: 2px solid #d5d5d5;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
#gallery .textoVideo a:hover {
  color: #181818;
  background-color: #d5d5d5;
  border: 2px solid transparent;
}
#gallery .textoVideo img {
  width: 500px;
}
#gallery .textoVideo h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-weight: 600;
  text-shadow: 1px 1.5px 7px #7c7c7c;
}
#gallery .textoVideo p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 25px;
}

#photos {
  background-image: url("../media/newPics/gallery-5.png");
  background-position: top;
  background-size: cover;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#photos a {
  margin-top: 50px;
  text-decoration: none;
  color: #d5d5d5;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 400;
  color: #d5d5d5;
  text-shadow: 1px 1.5px 10px #7c7c7c;
  transition: all 0.3s ease-in-out;
  padding: 7px 11px;
  animation: titila 1.2s infinite alternate;
  border: 2px solid #d5d5d5;
  background-color: transparent;
}
#photos a:hover {
  /* color: $negro; */
  /* background-color: $grisTres; */
  border: 2px solid transparent;
  box-shadow: 0px 0px 20px 1px #d5d5d5;
}

@keyframes titila {
  0% {
    text-shadow: 1px 1.5px 10px #7c7c7c;
  }
  100% {
    text-shadow: 3px 5px 20px #7c7c7c;
  }
}
#ships {
  padding-top: 40px;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  /* background: rgb(24, 24, 24);
  background: linear-gradient(
      180deg,
      rgba(24, 24, 24, 1) 0%,
      rgba(61, 61, 61, 1) 4%,
      rgba(88, 88, 88, 1) 8%,
      rgba(111, 111, 111, 1) 13%,
      rgba(163, 163, 163, 1) 16%,
      rgba(213, 213, 213, 1) 20%,
      rgba(213, 213, 213, 1) 100%
  ); */
}
#ships .container-logos-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ships .container-logos-title .title-ships {
  color: #181818;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 1px 1.5px 10px #6b6b6b;
  text-align: center;
  border-bottom: none;
}
#ships .container-logos-title .container-ships {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#ships .container-logos-title .container-ships .container-shipsLogo {
  display: flex;
  justify-content: center;
}
#ships .container-logos-title .container-ships .container-shipsLogo .aza {
  width: 100px;
}
#ships .container-logos-title .container-ships .container-shipsLogo .hol {
  width: 220px;
}
#ships .container-logos-title .container-ships .container-shipsLogo .cel {
  width: 90px;
}

.grilla {
  display: grid;
  grid-template-areas: "foto-5 foto-5 foto-29" "foto-19 foto-12 foto-12" "foto-27 foto-27 foto-30" "foto-35 foto-32 foto-26" "foto-33 foto-31 foto-31" "foto-9 foto-13 foto-3" "foto-37 foto-37 foto-37" "foto-34 foto-36 foto-17";
  gap: 0.2rem;
}
.grilla .foto-1 {
  grid-area: foto-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-2 {
  grid-area: foto-2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-3 {
  grid-area: foto-3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-4 {
  grid-area: foto-4;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-5 {
  grid-area: foto-5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-6 {
  grid-area: foto-6;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-7 {
  grid-area: foto-7;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-8 {
  grid-area: foto-8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-9 {
  grid-area: foto-9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-10 {
  grid-area: foto-10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-11 {
  grid-area: foto-11;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-12 {
  grid-area: foto-12;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-13 {
  grid-area: foto-13;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-14 {
  grid-area: foto-14;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-15 {
  grid-area: foto-15;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-16 {
  grid-area: foto-16;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-17 {
  grid-area: foto-17;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-18 {
  grid-area: foto-18;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-19 {
  grid-area: foto-19;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-20 {
  grid-area: foto-20;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-21 {
  grid-area: foto-21;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-22 {
  grid-area: foto-22;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-23 {
  grid-area: foto-23;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-24 {
  grid-area: foto-24;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-25 {
  grid-area: foto-25;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-26 {
  grid-area: foto-26;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-27 {
  grid-area: foto-27;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-28 {
  grid-area: foto-28;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-29 {
  grid-area: foto-29;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-30 {
  grid-area: foto-30;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-31 {
  grid-area: foto-31;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-32 {
  grid-area: foto-32;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-33 {
  grid-area: foto-33;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-34 {
  grid-area: foto-34;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-35 {
  grid-area: foto-35;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-36 {
  grid-area: foto-36;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.grilla .foto-37 {
  grid-area: foto-37;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}

#nosotros {
  min-height: 90vh;
  background-image: url("../media/nosotros.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nosotros img {
  width: 300px;
  display: none;
}
#nosotros h2 {
  color: #d5d5d5;
  font-size: 4.5rem;
  text-align: center;
}
#nosotros p {
  color: #d5d5d5;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 300;
  width: 568px;
  margin: 0px auto;
}

#contact {
  min-height: 50vh;
  background-color: #181818;
  padding-top: 20px 0px 20px 0px;
}
#contact h2 {
  color: #d5d5d5;
  text-align: center;
  font-size: 4rem;
  padding: 100px 0px 20px 0px;
}
#contact .dropus {
  /* background-color: red; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .dropus p {
  color: #d5d5d5;
  font-size: 1.5rem;
}
#contact .dropus h3 {
  color: #d5d5d5;
  font-weight: bold;
  font-size: 1.7rem;
}
#contact #formulario .grupoInput .inputForm {
  color: #d5d5d5;
  margin: 50px 0px;
  font-size: 1.5rem;
  padding: 10px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d5d5d5;
  width: 100%;
}
#contact #formulario .grupoInput .inputForm:focus {
  border-bottom: 2px solid #d5d5d5;
  outline: none;
  box-shadow: none;
}
#contact #formulario .grupoInput .mensaje {
  margin-top: 15px;
  font-size: 1.5rem;
  padding: 10px 14px;
  color: #181818;
  resize: none;
  background-color: #d5d5d5;
  border: none;
  border-bottom: 2px solid #d5d5d5;
}
#contact #formulario .grupoInput .mensaje:focus {
  outline: none;
  box-shadow: none;
}
#contact #formulario .enviar {
  font-size: 1.7rem;
  text-decoration: none;
  color: #d5d5d5;
  background-color: transparent;
  border: 2px solid #d5d5d5;
  padding: 7px 30px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
#contact #formulario .enviar:hover {
  color: #181818;
  background-color: #d5d5d5;
  border: 2px solid transparent;
}

footer {
  background-color: #d5d5d5;
  padding: 0px 0px 20px 0px;
}
footer .contenedorFooter {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .contenedorFooter div {
  display: flex;
  justify-content: center;
}
footer .contenedorFooter div a {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80px;
}
footer .contenedorFooter div a img {
  width: 30px;
  height: 30px;
  margin: 0px 15px;
  transition: all 0.3s ease-in-out;
}
footer .contenedorFooter div a img:hover {
  width: 33px;
  height: 33px;
}
footer .contenedorFooter h3 {
  color: #181818;
  font-weight: 400;
}
footer .contenedorFooter h6 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* -------------------BOTON WHATSAPP--------------- */
.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #30b430;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
}
.whatsapp:hover {
  background-color: white;
  color: #30b430;
  transition: all 0.2s ease;
}

.whatsapp-icon {
  margin-top: 10px;
}

@media (max-width: 512px) {
  .contenedor {
    margin: 0px 4%;
  }
  header {
    background-position: 75%;
  }
  header {
    align-items: center;
  }
  header div {
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
  header div a {
    margin-left: 0px;
  }
  header div .mobile {
    width: 250px;
    margin-left: 0px;
  }
  header .desktop {
    display: none;
  }
  header a {
    background-color: transparent;
    border: 2px solid #d5d5d5;
    color: #d5d5d5;
    margin-top: 50px;
  }
  /* MENU */
  nav .menuNav {
    position: absolute;
    top: 100%;
    left: -110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    width: 100%;
    height: 90vh;
    transition: all 0.3s ease-in-out;
    padding-bottom: 100px;
  }
  nav .menuNav li {
    margin: 20px 0px;
  }
  nav .menuNav li a {
    margin-left: 0px;
    color: #d5d5d5;
    font-size: 3rem;
    font-weight: 600;
  }
  .menuNav.active {
    position: absolute;
    top: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    width: 100%;
    height: 90vh;
    transition: all 0.3s ease-in-out;
    padding-bottom: 100px;
  }
  #hamb {
    display: block;
    width: 50px;
    color: #d5d5d5;
    padding: 7px;
  }
  /* HOME */
  #home {
    background-position: 80% 100%;
  }
  #home .homeInfo {
    margin: 150px 0px 0px 0px;
  }
  #home .homeInfo .contenedorCarousel {
    justify-content: center;
    margin-bottom: 30px;
  }
  #home .homeInfo .introHome {
    width: 250px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }
  #home .homeInfo .introHome h2 {
    font-size: 3.9rem;
  }
  #home .homeInfo .introHome h3 {
    font-size: 3rem;
  }
  #services .container-icons {
    border: 2px solid #d5d5d5;
    border: none;
    margin: 30px 0px 10px 0px;
    padding: 10px 30px;
  }
  /* GALLERY */
  /* CONTACT */
  #formulario {
    padding: 0px 20px 50px 20px;
  }
  /* GALERIA DE IMAGENES */
  .toca {
    display: block;
  }
  .grilla {
    display: grid;
    grid-template-areas: "foto-3" "foto-5" "foto-9" "foto-12" "foto-13" "foto-17" "foto-19" "foto-26" "foto-27" "foto-29" "foto-30" "foto-31" "foto-32" "foto-33" "foto-34" "foto-35" "foto-36" "foto-37";
    gap: 0.1rem;
    /* .fotoUno,
    .fotoDos,
    .fotoTres,
    .fotoCuatro,
    .fotoCinco,
    .fotoSeis,
    .fotoOcho,
    .fotoNueve,
    .fotoDiez,
    .fotoOnce,
    .fotoDoce,
    .fotoTrece,
    .fotoCatorce,
    .fotoQuince,
    .fotoDieciseis,
    .fotoDiecisiete,
    .fotoDieciocho {
        width: 100%;
        height: auto;
        object-fit: contain;
    } */
  }
  /* NOSOTROS */
  #nosotros {
    min-height: 90vh;
    background-image: none;
    background-color: #181818;
  }
  #nosotros h2 {
    margin: 30px 0px;
  }
  #nosotros img {
    width: 300px;
    display: block;
    box-shadow: 0px 0px 10px 1px rgba(213, 213, 213, 0.2823529412);
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #nosotros p {
    width: 315px;
    margin: 20px 10px;
  }
}/*# sourceMappingURL=estilos.css.map */