@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* GENERAL */
.contenedor {
    margin: 0px 10%;
}

/* Portada */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://via.placeholder.com/1920');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: slide 5s infinite linear alternate;
}

@keyframes slide {
    0% {
        background-image: url('https://via.placeholder.com/1930');
    }

    25% {
        background-image: url('https://via.placeholder.com/1940');
    }

    50% {
        background-image: url('https://via.placeholder.com/1950');
    }

    75% {
        background-image: url('https://via.placeholder.com/1960');
    }
}

header a {
    margin-top: 40px;
    font-size: 1.9rem;
    text-decoration: none;
    color: #d5d5d5;
    background-color: #181818;
    padding: 14px 10px;
}

header .mobile {
    display: none;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0px;
    padding: 15px 0px;
    background-color: #d5d5d50d;
    backdrop-filter: blur(8px);
    z-index: 100;
}

nav a img {
    width: 90px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #181818;
    font-size: 1.8rem;
    margin-left: 15px;
}

/* HOME */

#home {
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .homeInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .waveDown {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}

#home p {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
}

#home a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    margin-top: 50px;
    border: 2px solid #d5d5d5;
    padding: 10px 20px;
}

/* ABOUT US */

#about {
    min-height: 100vh;
    background-color: #d5d5d5;
}

/* @media queries */

@media (max-width: 512px) {
    .contenedor {
        margin: 0px 5%;
    }
    header {
        background-image: linear-gradient(to bottom, #000000d9, #181818),
            url('../media/footprint-10.svg') !important;
    }
    header .mobile {
        display: block;
        width: 300px;
    }

    header .desktop {
        display: none;
    }

    header a {
        background-color: transparent;
        border: 2px solid #d5d5d5;
        color: #d5d5d5;
        margin-top: 50px;
    }

    /* HOME */

    #home {
        padding-top: 70px;
    }

    #home .homeInfo {
        justify-content: flex-start;
        align-items: flex-start;
    }

    #home p {
        text-align: left;
    }

    #home .waveDown {
        height: 30px;
        width: 100%;
    }
}
