footer {
    background-color: $grisTres;
    padding: 20px 0px;
    .contenedorFooter {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            a {
                margin: 0px;
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 80px;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0px 15px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        width: 33px;
                        height: 33px;
                    }
                }
            }
        }
        h3 {
            color: $negro;
            font-weight: 400;
        }
        h6 {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}
