@media (max-width: 512px) {
    .contenedor {
        margin: 0px 4%;
    }
    header {
        background-position: 75%;
    }
    header {
        align-items: center;
        div {
            margin-left: 0px;
            justify-content: center;
            align-items: center;
            a {
                margin-left: 0px;
            }
            .mobile {
                width: 250px;
                margin-left: 0px;
            }
        }
    }

    header .desktop {
        display: none;
    }

    header a {
        background-color: transparent;
        border: 2px solid #d5d5d5;
        color: #d5d5d5;
        margin-top: 50px;
    }

    /* MENU */
    nav .menuNav {
        position: absolute;
        top: 100%;
        left: -110%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $negro;
        width: 100%;
        height: 90vh;
        transition: all 0.3s ease-in-out;
        padding-bottom: 100px;
        li {
            margin: 30px 0px;
            a {
                margin-left: 0px;
                color: $grisTres;
                font-size: 3rem;
                font-weight: 600;
            }
        }
    }

    .menuNav.active {
        position: absolute;
        top: 100%;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $negro;
        width: 100%;
        height: 90vh;
        transition: all 0.3s ease-in-out;
        padding-bottom: 100px;
    }

    #hamb {
        display: block;
        width: 50px;
        color: $grisTres;
        padding: 7px;
    }

    /* HOME */

    #home {
        .homeInfo {
            margin: 150px 0px 0px 0px;
            .contenedorCarousel {
                justify-content: center;
                margin-bottom: 30px;
            }
            .introHome {
                width: 330px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2 {
                    font-size: 3.9rem;
                }
                h3 {
                    font-size: 3rem;
                }
            }
        }
        a {
            text-align: center;
            display: block;
            width: 50%;
            margin: 0 auto;
        }
    }
    /* GALLERY */

    /* CONTACT */
    #formulario {
        padding: 0px 20px 50px 20px;
    }
    /* GALERIA DE IMAGENES */
    .toca {
        display: block;
    }
    .grilla {
        display: grid;
        grid-template-areas:
            'foto-3'
            'foto-5'
            'foto-9'
            'foto-12'
            'foto-13'
            'foto-17'
            'foto-19'
            'foto-26'
            'foto-27'
            'foto-29'
            'foto-30'
            'foto-31'
            'foto-32'
            'foto-33'
            'foto-34'
            'foto-35'
            'foto-36'
            'foto-37';
        gap: 0.1rem;
        /* .fotoUno,
        .fotoDos,
        .fotoTres,
        .fotoCuatro,
        .fotoCinco,
        .fotoSeis,
        .fotoOcho,
        .fotoNueve,
        .fotoDiez,
        .fotoOnce,
        .fotoDoce,
        .fotoTrece,
        .fotoCatorce,
        .fotoQuince,
        .fotoDieciseis,
        .fotoDiecisiete,
        .fotoDieciocho {
            width: 100%;
            height: auto;
            object-fit: contain;
        } */
    }
    /* NOSOTROS */
    #nosotros {
        min-height: 90vh;
        background-image: none;
        background-color: $negro;
        h2 {
            margin: 30px 0px;
        }
        img {
            width: 300px;
            display: block;
            box-shadow: 0px 0px 10px 1px #d5d5d548;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        p {
            width: 315px;
            margin: 20px 10px;
        }
    }
}
