#nosotros {
    min-height: 90vh;
    background-image: url('../media/nosotros.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 300px;
        display: none;
    }
    h2 {
        color: $grisTres;
        font-size: 4.5rem;
        text-align: center;
    }
    p {
        color: #d5d5d5;
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: 300;
        width: 568px;
        margin: 0px auto;
    }
}
