/* Portada */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url('../media/portada/portadaSitio-figma.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* animation: slide 15s infinite linear alternate; */
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        .mobile {
            width: 312px;
            margin-top: 45px;
            margin-left: 40px;
        }
    }
}

header a {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.8rem;
    text-decoration: none;
    color: $grisTres;
    background-color: transparent;
    padding: 14px 10px;
    border: 2px solid $grisTres;
    transition: all 0.3s ease-in-out;
    &:hover {
        /* border: 2px solid transparent;
        color: $negro;
        background-color: $grisTres; */
        color: $grisTres;
        text-decoration: none;
        border: 2px solid transparent;
        box-shadow: 0px 0px 20px 1px $grisTres;
    }
}
