$negro: #181818;
$gridDos: #848484;
$grisUno: #7c7c7c;
$grisTres: #d5d5d5;

$secundarioUno: #8f5564;
$secundarioDos: #d17b69;
$secundarioTres: #f8b363;

$otroUno: #34363a;
$otroDos: #4e5860;
$otroTres: #687e84;
$otroCuatro: #85a6a5;
$otroCinco: #a9cec2;
